// Mixins Here

.button(@btnWidth, @btnHeight, @btnTxtSize) {
    border: none;
    color: white;
    background-color: #23293B;
    width: @btnWidth;
    height: @btnHeight;
    font-size: @btnTxtSize;
    border-radius: 0.5rem;
    transition: background-color 2s;
}

.margins-mobile() {
    width: 85%;
    margin: auto;
}