// Mixins Here

.button() {
    border: none;
    color: white;
    background-color: #23293B;
    width: 10rem;
    height: 3.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
}

.margins-mobile() {
    width: 85%;
    margin: auto;
}